html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-print-color-adjust: exact;
}

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
